@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

.sec{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
   
}

h4, .h4 {
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    z-index: 999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  H5, .h5 {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    z-index: 999;
    

  }
  a, .a {
    position: center;
    text-align: center;
    color: #ffffff;
  }
/* *********************/
/*  I N I C I O */
/* *********************/
       


#inicio {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url("img/fondo2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}


#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #50ffeb;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #18e8de;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #18e8de;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #18e8de;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 65px;
    margin-bottom: 25px;
    text-align: center;
    z-index: 2;
}

#inicio .contenido .presentacion h2 span {
    font-size: 30px;
    color: #0acbc5;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 900px;
    margin: 15px ;
    font-size: 16px;
    text-align: center;
   
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    z-index: 2;
}


#inicio .contenido .presentacion a:hover {
    background-color: #e33030;
}

#icono-nav {
    color: #eb1e1e;
    display: none;
}



/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f300;
    
}

/*#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f300;
}*/

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #000000;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #000000;
    color: #fff;
}
/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}
/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
    background: linear-gradient( #000000cc, rgba(0, 0, 0, 0.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 45%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
   /* SECCION CLASES */

.clases{
    background-color: #f3f3f3;
    color: #000000;
    padding: 50px 20px;
}
.clases .contenido-seccion{
    max-width: 1100px;
    margin: auto;

}

.clases h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;
}
.clases .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.clases .galeria .clase{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    
}

.clases .galeria .clase img{
    width: 100%;
    display: block;
    border-radius: 0px 0px 10px 10px;
}
.clases .galeria .clase .overla{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
    display: flex;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    

}

.clases .galeria .clase .overla h3{
    margin-bottom: 20px;
    transition: 1s;
}
.clases .galeria .clase .overla:hover{
    opacity: 1;
}
.clases .galeria .clase .overla:hover h3{
    margin-bottom: 0px;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(120, 23, 23, 0);
    
}
.modal__button {
    padding: 1rem 5rem;
    border-radius: 50px; 
    border: 4px solid #ffffff; 
    font-size: 1rem;
    background-color: #030303;
    color: rgb(254, 254, 254);
    cursor: pointer;
    transition: all .1s ease;
    position: relative; /* Necesario para pseudo-elementos */
    overflow: hidden; /* Oculta el contenido del pseudo-elemento */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* borde animado */
.modal__button::before,
.modal__button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    border: 2px solid transparent;
    top: 0;
    transition: all .5s ease-in-out;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    pointer-events: none;
    display: flex;
    opacity: 0;
    transition: opacity .2s .2s;
    --transform: translateY(-100vh);
    --transition: transform .2s;
    z-index: 1000; /* Valor alto para que esté por encima de la galería */
}

.modal__container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3rem 2.5rem;
    transform: var(--transform);
    transition: var(--transition);
    overflow-y: auto; /* scroll vertical */
    border: 2px solid transparent; /* Establece un borde transparente inicial */

}

.modal__container h2 {
    font-size: 2.5rem;
    color: #111135;
}

.modal__container p {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.modal__container img {
    width: 90%;
    max-width: 700px;
    border: 10px solid #e6e1e1; /* Ajusta el grosor y el color del borde según tus preferencias */
    border-radius: 8px;
}

.contact {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 1rem 3rem;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
}

.close__modal {
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.modal-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .3s .3s;
}

/* Estilos de Scroll Vertical */
.modal__container {
    scrollbar-width: thin; 
    scrollbar-color: #111135 transparent; /* Define el color del scroll*/
}

.modal__container::-webkit-scrollbar {
    width: 8px; /* Ajusta el ancho del scrollbar en navegadores WebKit */
}

.modal__container::-webkit-scrollbar-thumb {
    background-color: #111135; /* Color del scrollbar en navegadores WebKit */
}

/* *********************/
/* seccion REFLEXION */
/* *********************/

#reflexion{
    text-align: center;
    background-color: #f3f3f3;
    height: 400px; 
    padding: 100px 100px;
}
#reflexion h2 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#reflexion .preguntas{
    margin: 50px 0;

}


/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #1c1c30;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fdfdfd;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
/* *********************/
/* seccion C O N T A C T O */
/* *********************/

#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #000000;
    color: #fff;
}
/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 30px;
    }
    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
 
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}
  @media (max-width: 767.98px) {
    .portfolio-card {
      margin-bottom: 30px;
    }
    .service-card {
      margin-bottom: 30px;
    }
  }
@media screen and (max-width:700px){
    

    .clases .galeria{
        display: block;
        width: 100%;
    }
    .clases .galeria .clase{
        max-width: 100%;
    }
    .clases .galeria .clase img{
        width: 100%;
    }
    .clases .fila{
        display: block;
    }
    .clases .fila .col{
        width: 100%;
    }
}
